.ach_container{
    /* border: 2px solid red; */
    width: 100%;
    min-height: 91vh;
    background-image: url("../Images/Skills/skillBackground3.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;  
    background-size:cover;  
}
.ach_heading_wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
.ach_heading_text{
    border-bottom: 2px solid rgba(33, 150, 243);
    font-family: 'Balsamiq Sans', cursive !important;
}
.achGridWraper{
    /* border: 2px solid orange; */
    padding-left: 80px;
    padding-right: 80px;
}
.achGridItem{
    /* border: 2px solid tomato; */
    margin: 30px !important;
}
.achGridItem *{
    font-family: 'Noto Serif', serif !important;
    text-align: justify !important;
}
.achList *{
    transition: transform 2s;
}
.achList *:hover{
    transform: scale(1.02);
}

.achGridItemHead{
    color: rebeccapurple;
    padding-left: 15px;
}
.achListItemText:hover{
    color: royalblue;
}

@media(max-width: 540px){
    .achGridWraper{
        padding-left: 0px;
        padding-right: 0px;
    }
    .achGridItem{
        margin: 5px !important;
        margin-bottom: 15px !important;
    }
}