@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Balsamiq+Sans&display=swap');


.education_container{
    /* border: 2px solid green; */
    /* background-color: #10101E; */
    width: 100%;
    min-height: 91vh;
}
.edu_heading_wraper{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.edu_heading_text{
    border-bottom: 2px solid rgba(33, 150, 243);
    font-family: 'Balsamiq Sans', cursive !important; 
}
.gridWraper{
    /* border: 2px solid green; */
    padding-left: 40px;
    padding-right: 40px;
}
.eduCard{
    transition: transform, background-color 2s, 2s !important;
}
.eduCard:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.1);
}
.cardMedia{
    width: 15% !important;
    margin-left: 40% !important;
    margin-top: 5% !important;
}
.gridItem{
    margin: 10px !important;
}
.cardButton{
    margin-left: 28% !important;
    margin-bottom: 20px;
}

.card_item_text_heading{
    font-size: 22px !important;
    font-weight: 700;
    font-family: 'Noto Serif', serif !important;
    color: royalblue;
}
.card_item_text{
    font-size: 18px !important;
    font-weight: 700;
    font-family: 'Noto Serif', serif !important;
    padding-top: 10px;  
}
.card_item_res{
    font-size: 18px !important;
    font-weight: 700;
    font-family: 'Noto Serif', serif !important;
    padding-top: 10px;  
    color: #8B0000;
}

@media(max-width: 720px){
    .cardButton{
        margin-left: 15% !important;
    }
    .card_item_text_heading{
        font-size: 20px !important;
        text-align: center;
    }
    .card_item_text{
        font-size: 16px !important; 
    }
    .education_container{
        padding-bottom: 30px;
    }
}
@media(max-width: 540px){
    .cardButton{
        margin-left: 15% !important;
    }
    .card_item_text_heading{
        font-size: 20px !important;
        text-align: center;
    }
    .card_item_text{
        font-size: 16px !important; 
    }
    .education_container{
        padding-bottom: 30px;
    }
}
