body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
width:100%;
overflow-x:hidden;
}

.navLink{
    display: flex;
    justify-content: center;
    text-align: center;
}
.navLink *{
    color: white !important;
    font-size: 16px;   
}
.active{
    color: coral !important;
    font-weight: 700;
    /* border-bottom: px solid red !important; */
}
@media(max-width: 960px){
    .navLink *{
        font-size: 20px;   
    }
}
@media(max-width: 720px){
    .navLink{
        margin-top: 20px;
    }   
    .navLink *{
        font-size: 20px;   
    }
}
@media(max-width: 540px){
    .navLink{
        margin-top: 20px;
    }
    .navLink *{
        font-size: 20px;   
    }   
}