body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    width:100%;
    overflow-x:hidden;
}
.navbarWarper{
    background-color: none;
}
.navbarWarper.active{
    /* background-color:#3f51b5; */
    /* background-color:rgba(33, 150, 243); */
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(33, 150, 243));
}
.navLink{
    display: flex;
    justify-content: center;
    text-align: center;
}
.navLink *{
    color: #000000 !important;
    font-size: 18px; 
    font-family:cursive;  
    font-weight: 300;
}
.navLink *:hover{
    color: darkgrey !important;
}
.active{
    /* color: #ff8f00 !important; */
    color: #ffffff !important;
}
@media(max-width: 960px){
    .navLink *{
        font-size: 20px;   
    }
    .navLink{
        margin-top: 20px;
    }  
    body{
        width:100%;
        overflow-x:hidden;
    }
}
@media(max-width: 720px){
    .navLink{
        margin-top: 20px;
    }   
    .navLink *{
        font-size: 20px;   
    }  
    body{
        width:100%;
        overflow-x:hidden;
    }
}
@media(max-width: 540px){
    .navLink{
        margin-top: 20px;
    }
    .navLink *{
        font-size: 20px;   
    }   
    body{
        width:100%;
        overflow-x:hidden;
    }    
}
@media(min-width: 960px){    
    body{
        width:100%;
        overflow-x:hidden;
    }
}