.pro_container{
    /* border: 2px solid red; */
    width: 100%;
    min-height: 91vh;
    padding-bottom: 60px;
}


.pro_heading_wraper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.pro_heading_text{
    border-bottom: 2px solid rgba(33, 150, 243);
    font-family: 'Balsamiq Sans', cursive !important;
}
.proGridWraper{
    /* border: 2px solid orange; */
    padding-left: 100px;
    padding-right: 100px;
}
.proGridItem{
    /* border: 2px solid tomato; */
    margin: 10px !important;
    transition: transform 2s;
}
.proGridItem:hover{
    transform: scale(1.05);
}
.proGridItem *{
    font-family: 'Noto Serif', serif !important;
    text-align: justify !important;
}
.projectCardMedia{
    height: 180px;
}
.project_card_heading{
    font-size: 22px !important;
    font-weight: 700;
    font-family: 'Noto Serif', serif !important;
    color: royalblue;
}
.project_card_text{
    font-size: 16px !important;
    font-weight: 700;
    font-family: 'Noto Serif', serif !important;
    padding-top: 10px;  
}
.projectCardButton{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
}
.projectCardButton *:hover{
    color: rgb(0, 0, 0);
}

@media(max-width: 960px){
    .proGridWraper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .proGridItem{
        margin-bottom: 20px !important;
    }
    .projectCardButton *{
        font-size: 12px !important;
    }
}

@media(max-width: 720px){
    .proGridWraper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .proGridItem{
        margin-bottom: 20px !important;
    }
    
}
@media(max-width: 540px){
    .proGridWraper{
        padding-left: 20px;
        padding-right: 20px;
    }
    .proGridItem{
        margin-bottom: 20px !important;
    }
    .projectCardButton{
        flex-direction: column;
        /* border: 2px solid red; */
    }
    .projectCardButton *{
        margin: 5px !important;
    }
}

/* @media(min-width: 960px){    

    .projectCardButton{
        margin-left: 1% !important;
    }
    .projectCardButton *{
        font-size: 12px !important;
    }
} */