@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet&family=Balsamiq+Sans&display=swap');

.skills_container{
    /* border: 2px solid gold; */
    background-color: #10101E;
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) , rgba(0,0,0,0.7)); */
    /* background-image: url("../Images/Skills//skillBackground2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;  
    background-size:cover;   */
    
    width: 100%;
    min-height: 91vh;
    padding-bottom: 20px;
}
.skills_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 30px;
}
.skills_heading_text{
    font-family: 'Balsamiq Sans', cursive !important; 
    border-bottom: 2px solid#e62e00;
}
.skillsGridWraper{
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.skillsGridItem{
    /* border: 2px solid red; */
    
    font-size: 24px !important;
    margin: 10px !important;
    transition: transform, color 2s, 2s;
}


.skillsGridItem:hover{
    transform: scale(1.2);
    color: #e62e00;
}
.skillsGridItemWeb{
    transition: transform, color 2s, 2s !important;
}
.skillsGridItemWeb:hover{
    transform: scale(0.8);
    color: #e62e00;
}


.skillsGridItem *{
    font-size: 20px !important;
    font-family: 'Noto Serif', serif !important;
    padding-top: 5px;
}

@media(max-width: 540px){
    .skillsGridItem{
        width: 250px;
    }
    .skillsGridWraper{
        padding-left: 50px;
        padding-right: 50px;
    }
}
